@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}


.header {
  background: white;
  color: black;
  /* display: flex; */
  box-shadow: inset 0 2 3 4 rgb(red, green, blue);
  /* width: 100%; */
  /* gap: 16px; */
  border-top: 1px solid purple;
  /* justify-content: space-between; */

}
.header , .footer {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  padding: 16px;
}
.header .left-links , .right-links {
  display: flex;
  gap: 16px;
  margin: 2px;
  
  /* justify-content: space-between; */
}
.footer .left-links ,.right-links {
  display: flex;
  gap: 15px;
}
.footer {
  background-color: gray;
}

ul {
  list-style-type: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}
a {
  
  text-decoration: none;
}
a:hover {
  color: rebeccapurple;
}
.left-links {
  /* justify-content: center; */
  /* align-items: flex-start; */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}


img {
  width: 600px;
  /* display: inline-block; */
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
