.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
  border: 2px solid purple;
}

.box {
  /* background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px; */
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: dodgerblue;
  height: 300px;
  width: 300px;
  justify-content: center;
  border: 5px solid purple;
  border-radius: 12px;
  align-items: center; */
}

.box {
  background: red;
  height: 80px;
  width: 80px;
  padding: 20px;
  border: 6px solid green;
  font: bold;
  /* align-self: center; */

}