.header {
  font-family: 'Courier New', Courier, monospace;
  background-color: aquamarine;
}


.logo {
  background-color: antiquewhite;
  /* width: 200px; */
  font-weight: 900;
  font-size: 40px;
  padding: 4px 32px;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  background:blanchedalmond;
  padding: 4px;
  font-size: 22px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  
  /* justify-content: center; */
  /* flex-direction: row; */
  /* align-items: center; */

}
ul {
  display: flex;
  gap: 6px;
  padding: 0;
  margin: 9;
}
/* .left-links {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.logo {
  align-self: center;
} */